<html>
  <head>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .border {
        background-color: #ffb500;
        height: 30px;
      }
    </style>
  </head>
  <body
    style="
      font-family: Roboto, sans-serif;
      line-height: 2;
      background-color: #eee;
      width: 100%;
      padding: 20px;
      margin: 0;
    "
  >
    <div class="border" style="margin-bottom: 1rem"></div>
    <div>
      <div style="display: flex; justify-content: center; align-items: center">
        <img
          src="https://i.ibb.co/8zYfq6L/hmif-tech.jpg"
          style="width: 50px; margin-right: 1rem"
        />
        <h2>HMIF CAREER</h2>
      </div>
      <p>Hello, <b>${name}</b></p>
      <div style="padding: 1rem 0">
        <p>
          Selamat! Anda telah terpilih sebagai mentee untuk career path
          <b>${careerPath}</b> pada event mentoring career HMIF. Berikut adalah mentor
          anda
        </p>        
        <p>Nama: <b>${nama mentor}</b></p>
        <p>Nomor telepon WA / ID Line: <b>${kontakMentor}</b></p>
        <p>Untuk tahap selanjutnya, silahkan mengontak mentor anda melalui kontak diatas.</p>

        <p>
          Maaf, anda belum dapat diterima sebagai mentee pada event mentoring
          career HMIF. Tetap semangat dan tunggu acara - acara menarik dari
          career HMIF lainnya ya!
        </p>
      </div>
      <p>Terima kasih.</b></p>
    </div>
    <div class="border" style="margin-top: 1rem"></div>
  </body>
</html>
